DEBUG=0
TESTING=0
SQLALCHEMY_TRACK_MODIFICATIONS=0
SQLALCHEMY_DATABASE_URI=sqlite:///app.db
WEBHOOK_URL=http://asapportal.local/m/r.php?sn=callbackIntegration&SYSID=PPCALL&SUBID=PPCALLBACK
SHOPPER_RESULT_URL=http://asapportal.local/m/web.php?SN=peachReturnShopper&params=
ENCRYPTION_KEY=D1A8F3C7B2E5A4D6C9F1E7B3A2D4F5C8E6A1B9D7C3E5F8A4B2D1E6C7F3A9E1F2
PAYMENT_GATEWAY_HOST=http://localhost